pipeline/appendactivity.json
{
	"name": "appendactivity",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Countries",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AppendedCountries",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ViewAppendedCountries",
								"value": {
									"value": "@variables('AppendedCountries')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Countries": {
				"type": "array",
				"defaultValue": [
					"India",
					"Pakistan",
					"Sri Lanka",
					"China"
				]
			}
		},
		"variables": {
			"AppendedCountries": {
				"type": "Array"
			},
			"ViewAppendedCountries": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-01T15:35:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}